annotated-doc
annotated-types
anyio
certifi
click
fastapi
greenlet
h11
httpcore
httpx
idna
numpy
pandas
playwright
pydantic
pydantic_core
pyee
PyPDF2
python-dateutil
python-dotenv
pytz
six
sniffio
starlette
typing-inspection
typing_extensions
tzdata
uvicorn
